.User-list {
  list-style: none;
}

.Avatar {
  text-align: center;
}

.Avatar img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.Avatar h4 {
  text-transform: capitalize;
  color: red;
}

form {
  text-align: center;
  margin-bottom: 5%;
}

h1 {
  background-color: black;
  text-align: center;
  color: red;
}

body {
  background-color: gray;
}